.body {
    
}

.body__background-image {
    position: fixed;
    height: 300px;
    min-width: 100%;
    min-height: 500px;
    margin-top: -74px;
    background-image: url('/public/images/center.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -11; /* Original background image */
}

.body__Text {
    padding: 0 30%;
}

.body__Text > h1 {
    font-size: 7em;
    opacity: .5;
}

.body__Text > h2,
.body__Text > p  {
    color: white;
}