.footerNav {
    display: flex;
    background-color: #3a465c;
    padding-left: 15%;
    width: 137%;
}

.footerNav > h2 > a {
    white-space: nowrap;
    color: #b0b4be;
    padding: 15% 0;
    text-decoration: none;
}



.footerNav > h2 > a:hover {
    background-color: #b0b4be;
    color: darkblue;
    text-decoration: underline;
}

@media (min-width: 1440px) {
    .footerNav {
        width: 93%;
    }
}

@media (min-width: 1600px) {
    .footerNav {
        width: 85%;
    }
}