.schedule {
    background-color: #e1e5ef;
    /* opacity: .75; */
    width: 25%;
    margin-left: 15%;
    display: flex;
    flex-direction: row-reverse;
}

.schedule > img {
    position: relative;
    height: 300px;
    /* min-width: 125%; */
    min-height: 800px;
    /* margin-top: -74px; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    z-index: -11;
}

.schedule__container {
    background-color: #f0f3f6;
}

.schedule__header > h1 {
    padding-top: 5%;
    padding-left: 7.5%;
}

.schedule__date__and__name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.schedule__date > p {
    padding-left: 15%;
}